:root {
  --peachMain: rgb(232, 204, 202);
  --peachSub: rgb(87, 10, 37);
  --peachAccent: rgb(250, 114, 152);
  --greenMain: rgb(193, 221, 179);
  --greenSub: rgb(87, 10, 37);
  --greenAccent: rgb(116, 227, 60);
  --mainCol: rgb(232, 204, 202);
  --subCol: rgb(87, 10, 37);
  --accentCol: rgb(250, 114, 152);
}

@font-face {
  font-family: teko;
  src: url(./Teko/Teko-Regular.ttf);
}

@font-face {
  font-family: zeyada;
  src: url(./Zeyada/Zeyada-Regular.ttf);
}

body {
  font-family: zeyada, teko, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background: rgb(160,49,187); */
  background: #D6F4FF;
  margin: 1cm;
}
h1 {
  text-align: center;
  font-family: zeyada, teko, andale mono, monospace;
  font-size: 600%;
  color: var(--subCol);
  margin: -2%;
  font-weight: 300; 
  position: absolute;
  top:  57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
  font-family: zeyada, teko, andale mono, monospace;
  font-size: 260%;
  color: var(--subCol);
  margin: 0%;
  font-weight: 500;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode:hard-light;
}

p {
  color: var(--subCol);
  font-size: 180%;
  font-family: zeyada, teko, andale mono, monospace;
  padding: 0.5cm 1cm;
  margin: 2%;
  font-weight: bold;
}

.button {
  
  transition-duration: 0.4s;
  background-color: var(--subCol);
  color: var(--mainCol);
  font-family: zeyada, andale mono, monospace;
  border-radius: 6%;
  padding: 0.6% 1.2%;
  text-align: center;
  font-size: 24px;
  border: none;
  display: inline-block;
  box-shadow: 2px 2px 5px rgb(87, 10, 37);
}

.button:hover {
  background-color: var(--accentCol);
  color: var(--subCol);
  cursor: pointer;
  font-weight: bolder;
}

#sig {
  font-family: zeyada, teko, andale mono;
  text-align: right;
  position: sticky;
  bottom: 0;
}

#webring {
  bottom: 0;
  position: sticky;
  right: auto;
  text-align: center;
  mix-blend-mode: difference;
}

img {
  border-radius: 8%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 5px rgb(87, 10, 37);
}

a {
  color: rgb(250, 114, 152);
  font-weight: bolder;
  text-decoration: none;
}

#titleCloud {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#projectCloud {
  position: absolute;
  top: 30%;
  left: 82%;
  transform: translate(-50%, -50%);
}

#miscCloud {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}

#likesCloud {
  position: absolute;
  top: 80%;
  left: 32%;
  transform: translate(-50%, -50%);
}

#miniClouds {
  position: absolute; /*play around w sticky */
  top: 48%;
  left: 44%;
  transform: translate(-50%, -50%);
}

#cloudBlurs {
  position:sticky;
  z-index: -10;
  top: 60%;
  left: 46%;
  transform: translate(-50%, -50%);
}