:root {
  --peachMain: rgb(232, 204, 202);
  --peachSub: rgb(87, 10, 37);
  --peachAccent: rgb(250, 114, 152);
  --greenMain: rgb(193, 221, 179);
  --greenSub: rgb(87, 10, 37);
  --greenAccent: rgb(116, 227, 60);
  --mainCol: rgb(232, 204, 202);
  --subCol: rgb(87, 10, 37);
  --accentCol: rgb(250, 114, 152);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--mainCol);
  margin: 1cm;
}
h1 {
  text-align: center;
  font-family: andale mono, monospace;
  font-size: 600%;
  color: var(--subCol);
  margin: 0%
}

h2 {
  text-align: center;
  font-family: andale mono, monospace;
  font-size: 150%;
  color: var(--subCol);
  margin: 1%;
}

p {
  color: var(--subCol);
  font-size: 120%;
  font-family: andale mono, monospace;
  padding: 0.5cm 1cm;
  margin: 2%;
}

.button {
  width: 4cm;
  height: 0.9cm;
  transition-duration: 0.4s;
  background-color: var(--subCol);
  color: var(--mainCol);
  font-family: andale mono, monospace;
  border-radius: 6%;
  padding: 0.3% 0.3%;
  text-align: center;
  font-size: 16px;
  border: none;
  display: inline-block;
}

.button:hover {
  background-color: var(--accentCol);
  color: var(--subCol);
}

#sig {
  text-align: right;
}

#webring {
  position: sticky;
  bottom: 0;
  right: auto;
  text-align: center;
}

img {
  border-radius: 4%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: rgb(250, 114, 152);
}